doctype html
html
	head
		title Feature Server
		style(type='text/css').
			html {
				font-size: small;
				font-family: Verdana, Arial, Helvetica, sans-serif; 				
			}
			table { border-collapse: collapse;}
			td { }
			th { vertical-align: top; }
			td, th { text-align: left; border: 1px solid black; padding: 5px; }
	body
		h1 Feature Server
		p
			b Service Description: 
			| #{serviceDescription}
